$color-text: #000;
$color-background: #f0f8ff;
$color-placeholder: rgba(0, 0, 0, 0.44);

.entrada-container {
  display: flex;
  text-align: center;
  justify-content: center;

  .textarea-wrapper {
    textarea {
      background-color: $color-background;
      border: none;
    }
  }

  #autor {
    font-size: 25px;
    color: $color-text;
    min-width: 400px;
  }

  #title {
    font-size: 70px;
    color: $color-text;
  }

  #description {
    font-size: 35px;
    min-width: 780px;
    color: $color-placeholder;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 100px 30px 30px 0;

  #publicar-button {
    background-color: #0f730c;
    border-radius: 100px;
    padding: 7px 30px;
    border-width: 0;
    cursor: pointer;
  }
}